@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
    background: #40beae;
    font: normal 15pt arial;
    background-image: url(imagemcorpo.png);
    background-size: 20em;
    background-position: 100% 22em;
    background-repeat: no-repeat;
}
header{
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
    margin: 20px;
}
section{
    background: white;
    border-radius: 20px;
    width: 17em;
    padding: 3rem;
    margin: auto;
    box-shadow: 5px 5px 10px black;
    font-family: 'Righteous', cursive;
    text-align: center;
    
}

footer{
    text-align: center;
    color: white;
    
}
button {
    margin: auto;
    position: relative;
    font-size: 1.2em;
    padding: 0.7em 1.5em;
    background-color: #363031;
    text-decoration: none;
    border: none;
    border-radius: 0.5em;
    display: inline-block;
    color: #DEDEDE;
    box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
    margin-bottom: 12px;
    width: 250px;
    font-weight: bold;
    
  }
  
  button::before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, rgba(33,33,33,1) 0%, rgba(33,33,33,1) 50%, rgb(184, 68, 68) 50%, rgb(241, 235, 237) 60%);
    border-radius: 0 0 0.5em 0;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    transition: 0.3s;
  
  }
  
  button:hover::before {
    width: 2em;
    height: 2em;
  }
  
  button:active {
    box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.3);
    transform: translate(0.1em, 0.1em);
  }
  .input {
    background-color: transparent;
    max-width: 190px;
    height: 40px;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid rgb(8, 8, 8);
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
  }
  
  .input:focus {
    color: rgb(8, 8, 8);
    background-color:transparent;
    outline-color: rgb(13, 14, 14);
    box-shadow: -3px -3px 15px rgb(17, 17, 17);
    transition: .1s;
    transition-property: box-shadow;
  }